---

import BottomNavIcon from "./BottomNavIcon.astro";---

<div class="flex justify-center w-full fixed bottom-4">
    <div class="flex space-x-4 bg-gray-100 rounded-2xl p-4 shadow-lg">
        <BottomNavIcon alt="Portfolio icon" image="/icons/portfolio.svg" url="/portfolio" labelPopover="portfolio"></BottomNavIcon>
        <BottomNavIcon alt="Home icon" image="/logo/logo.png" url="/" labelPopover="home"></BottomNavIcon>
        <BottomNavIcon alt="Contacts icon" image="/icons/phone.svg" url="/contacts" labelPopover="contattaci"></BottomNavIcon>
    </div>
</div>