---
import Image from "astro/components/Image.astro"
import Popover from "./common/Popover.astro"

interface Props {
    url: string,
    alt: string;
    image: string;
    labelPopover: string;
}

const {
    url,
    alt,
    image,
    labelPopover,
} = Astro.props;
---

<a href={url} class="hover:scale-125 focus:scale-100 duration-300">

    <Popover label={labelPopover}>
        <div class="bg-white rounded-xl p-1">
            <Image
                    src={image}
                    alt={alt}
                    width={50}
                    height={50}
                    class="rounded-2xl"
                    format="webp"
            />
        </div>
    </Popover>
</a>
