---

import BottomTopIcon from "./BottomTopIcon.astro";

---

<nav class="fixed top-20 w-full z-50">
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-end h-16 items-center space-x-8">
      <BottomTopIcon alt="Search" image="/icons/search.svg" labelPopover="cerca"></BottomTopIcon>
    </div>
  </div>
</nav>

<!-- Spacing element to offset the fixed navbar height -->
<div class="h-16"></div>