---
import { ViewTransitions } from "astro:transitions";
import BottomNav from "../components/BottomNav.astro";
import TopNav from "../components/TopNav.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Lorenzo Longhi's personal website" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo/logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
		<title>{title}</title>
	</head>
	<style>
		body {
			background-image: url('/background/pattern-randomized.svg');
			background-size: cover;
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-position: center;
		}
	</style>
	<body>
		<TopNav></TopNav>
		<slot />
		<BottomNav></BottomNav>
	</body>
</html>
